
body {
    background-color: rgb(120, 160, 248);
}

h1 {
    text-align: left;
    border-radius: 10px;
    background-color: white;
}

.text-box {
    text-align: left;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
    max-width: fit-content;
}

button {
    width: 20%;
    border: None;
    font-size: 22px;
    color: white;
    background-color: #8a8a8a;
    padding: 5px 0px;
    cursor: pointer;
}

button:hover {
    background-color: #bebebe5d;
}

.text-box {
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 6px 5px 6px 5px rgba(0, 0, 0, 0.16);
    padding: 3.5rem;
    align-items: center;
    height: 50vh;
    width: 75%;
}
